<div id="wrapper">


			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left " href="/">
							<img src="assets/images/Logo.png" alt="Logo" />
						</a>

						<!--
							Top Nav

							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!--
									.nav-onepage
									Required for onepage navigation links

									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active">
										<!-- HOME -->
										<a id="home-nav" href="/"> HOME </a> </li>
									<li>
										<!-- SERVICES -->
										<a id=" services-nav" href="/#services">
											SERVICES
										</a>
									</li>
									<li>
										<!-- PORTFOLIO -->
										<a id="portfolio-nav" href="/#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li>
										<!-- NEWS -->
										<a id="news-nav" href="/#news">
											NEWS
										</a>
									</li>

									<li>
										<!-- CLIENTS -->
										<a id="clients-nav" href="/#clients">
											CLIENTS
										</a>
									</li>
									<li>
										<!-- CONTACT -->
										<a id="contact-nav" href="/#contact">
											CONTACT
										</a>
									</li>
									<li>
										<!-- SUBMISSION -->
										<a id="quote-nav" href="quotes/new.html#">
											SUBMISSION
										</a>
									</li>

									<li>
										<!-- ADMIN -->
										<a id="quote-nav" href="/admin">
											ADMIN
										</a>
									</li>
									
									<%# <li>
										<!-- LOGIN -->
										<a id="login-nav" href="/admin">
											LOGIN
										</a>
									</li>
									<li>
										<!-- LOGOUT -->
										<a id="logout-nav" data-method="delete" href="/users/sign_out">
											LOGOUT
										</a>
									</li> %>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>



			<h1 style="font-size:5vw; text-align:center; background-color:#ba0f23; color:white">
				<i>
					Corporate
					and
					Commercial Options </i>
			</h1>


			<section>
				<div class="container">

					<div class="row">
						<div class="col-sm-6">
							<a class="image-hover" href="#portfolio">
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/CorPage1.jfif" alt="img" />
							</a>

							<h3 class="mt-15">Corporate is our specialty</h3>
							<p>Corporate & commercial elevators are our specialty. Our elevators are the most
								advanced
								in
								product and service, we pride ourselves on the caliber of both our company and our
								clientele. Whether you're a home owner, builder, architect, or elevator dealer,
								contact
								us for full details of how Rocket Elevators Corporate & Commercial Elevators can
								rise
								above your
								expectations.</p>


						</div>

						<!-- Residential 2 -->
						<div class="col-sm-6">
							<a class="image-hover" href="#" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/CorPage2.jpg" alt="img" />
							</a>
							<h3 class="mt-15">The needs of today's corporate </h3>
							<p> Rocket Elevetors understands that corporate need the best equipement for their
								employees. Safety is our number one priority, and we always make sure the product
								that
								is delivered and installed is both as safe and efficient. Corporates have been our
								number 1 client and we want to honor that by promising them with the best elevetors
								available in the world. </p>

						</div>

			</section>
			<!-- Residential 1 -->
			<section>
				<div class="container">

					<div class="row">
						<div class="col-sm-6">
							<a class="image">
								<span class=" image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/CommercialPage1.jpg" alt="img" />
							</a>

							<h3 class="mt-15">Elevators for everybody</h3>
							<p>We know that malls and other commercial institutions need a very versatile and
								efficient
								way of transporting people around their buildings. With how many people shop in
								commercial spaces, elevetors need to be able to transport everybody and always allow
								customers to have the best experience while doing so. That is why Rocket Elevators
								provide commercial institutions with the best quality products and the best services
								all
								around the globe. </p>


						</div>

						<!-- Residential 2 -->
						<div class="col-sm-6">
							<a class="image" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/CommercialPage2.jpg" alt="img" />
							</a>
							<h3 class="mt-15"> The best Elevators for your clients </h3>
							<p> Commercial institutions provide their clients with the best quality products and we
								want
								to do the same for them. We know that having a safe environment for your clients is
								very
								important and allows your company to build trust with the customers. We love to
								provide
								the best products and services to those who do the same for thousands of people
								every
								day.</p>
							</p>

						</div>

			</section>


			</section>
			<!-- /Parallax -->

			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable
								products
								on the
								market.<a href="#contact"> Contact us</a> today for any questions you
								might
								have.</p>
							<h2><a href="tel:(418) 555-1234">(418) 555-1234</a></h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post"
								data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required"
										placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
