<div id="wrapper">


			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->

						<a class="logo float-left" href="/">
							<img src="assets/images/Logo.png" alt="Logo" />
						</a>

						<!--
							Top Nav

							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!--
									.nav-onepage
									Required for onepage navigation links

									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active">
										<!-- HOME -->
										<a id="home-nav" href="/">
											HOME
										</a>
									</li>
									<li>
										<!-- SERVICES -->
										<a id="services-nav" href="/#services">
											SERVICES
										</a>
									</li>
									<li>
										<!-- PORTFOLIO -->
										<a id="portfolio-nav" href="/#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li>
										<!-- NEWS -->
										<a id="news-nav" href="/#news">
											NEWS
										</a>
									</li>

									<li>
										<!-- CLIENTS -->
										<a id="clients-nav" href="/#clients">
											CLIENTS
										</a>
									</li>
									<li>
										<!-- CONTACT -->
										<a id="contact-nav" href="/#contact">
											CONTACT
										</a>
									</li>
									<li>
										<!-- SUBMISSION -->
										<a id="quote-nav" href="quotes/new.html#">
											SUBMISSION
										</a>
									</li>

									<li>
										<!-- ADMIN -->
										<a id="quote-nav" href="/admin">
											ADMIN
										</a>
									</li>
									<%# <li>
										<!-- LOGIN -->
										<a id="login-nav" href="/admin">
											LOGIN
										</a>
									</li>
									<li>
										<!-- LOGOUT -->
										<a id="logout-nav" data-method="delete" href="/users/sign_out">
											LOGOUT
										</a>
									</li> %>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>




			<h1 style="font-size:5vw; text-align:center; background-color:
			#0b64a0; color:white;">
				<i>
					Residential Options </i>
			</h1>

			<section>
				<div class="container">

					<div class="row">
						<div class="col-sm-6">
							<a class="image-hover" href="#portfolio">
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/ResPage1.jpg" alt="img" />
							</a>

							<h3 class="mt-15">Accessibility for everyone</h3>
							<p>As populations age, demand for accessible, safe and convenient solutions increase.
								Cities, including buildings and transportation hubs, need to be designed and built in a
								way that enables elderly persons to move around easily. Through our elevator solutions
								we also have the opportunity to help improve accessibility for people with impaired
								mobility. Our solutions also help users with their daily lives, for example families
								with baby carriages or residents returning home after grocery shopping.</p>


						</div>

						<!-- Residential 2 -->
						<div class="col-sm-6">
							<a class="image-hover" href="#" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/ResPage2.jpg" alt="img" />
							</a>
							<h3 class="mt-15">The Elevetors for homes of today </h3>
							<p> The Rocket Elevator is the only home lift of its kind to be available in Canada and the
								perfect alternative to a stairlift allowing you to keep the stairs in your property
								untouched. Our selection of residential elevators are also much more appealing than a
								conventional in-home elevator which can be costly and complicated to install.</p>

						</div>

			</section>
			<!-- Residential 1 -->
			<section>
				<div class="container">

					<div class="row">
						<div class="col-sm-6">
							<a class="image-hover" href="#portfolio">
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/ResPage3.jpg" alt="img" />
							</a>

							<h3 class="mt-15">Home elevators for every home</h3>
							<p>We offer a wide range of domestic elevators for the home in all different sizes, carrying
								capacities, and color combinations. Express who you are by involving yourself in the
								design process of what will probably be one of the most iconic pieces in your home. You
								could either let the home elevator blend in with the rest of the surrounding environment
								or let it stand out on its own. It is up to you to decide what type of elevator best
								suits your home.</p>


						</div>

						<!-- Residential 2 -->
						<div class="col-sm-6">
							<a class="image-hover" href="#" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/ResPage4.jpg" alt="img" />
							</a>
							<h3 class="mt-15"> Elevators for Condos and Apartment complex</h3>
							<p> The installation of the lift in the condominium or an apartment complex can solve
								problems
								arising when the access is difficult for elder and disabled people. Thanks to a range of
								financial support offerings, the Rocket elevator lift represents an ideal and
								cost-effective solution that can fit all of our customers.</p>

						</div>

			</section>






			</section>
			<!-- /Parallax -->

			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable
								products
								on the
								market.<a href="#contact"> Contact us</a> today for any questions you
								might
								have.</p>
							<h2><a href="tel:(418) 555-1234">(418) 555-1234</a></h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post"
								data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required"
										placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
>>>>>>> origin/TestPhil
